<!DOCTYPE html>
<html>
  <head>
    <title>VacationsAway</title>

    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>


    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Ubuntu:wght@300&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Raleway:wght@200&display=swap" rel="stylesheet">
    <%= javascript_include_tag "https://maps.googleapis.com/maps/api/js?key=#{Rails.application.credentials.google[:api_key]}&libraries=places" %>
    <script type="text/javascript">
      window.logo= "<%= image_url('last-logo.png'); %>"
    </script>
   <script src="https://code.iconify.design/2/2.0.3/iconify.min.js"></script>
    <%= favicon_link_tag 'favicon.jpeg' %>

       <meta property="og:title" content="VacationsAway" />
    <meta property='og:image' content="<%= image_url('meta1.png') %>"/>
    <meta property="og:description"
      content="A clone of AirBnb, where users can reserve a place to stay as well as review past trips. Built using Amazon Web services and Google Maps API."
    />
    <meta property="og:url"
      content="https://vacationsaway.herokuapp.com/"
    />

  </head>

  <body>
    <%= yield %>
  </body>
</html>
