<!DOCTYPE html>
<html>
  <head>
    <title>VacationsAway</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>

  <%= javascript_include_tag "https://maps.googleapis.com/maps/api/js?key=#{Rails.application.credentials.google[:api_key]}&libraries=places" %>
    <script type="text/javascript">
      window.logo= "<%= image_url('last-logo.png'); %>"
    </script>

    <%= favicon_link_tag 'favicon.jpeg' %>

  </head>

  <body>
    <%= yield %>
  </body>
</html>
