<!DOCTYPE html>
<html>
  <head>
    <title>VacationsAway</title>

    <meta name="description" content="A single-page fullstack clone of AirBnb." />
    <meta name="title" property="og:title" content="VacationsAway" />
    <meta property="og:type" content="_" />
    <meta name="image" property="og:image" content="https://github.com/yungcai/VacationsAway/blob/main/app/assets/images/Screen%20Shot%202021-08-10%20at%205.31.56%20PM.png" />
    <meta name="description" property="og:description" content="A clone of AirBnb, where users can reserve a place to stay as well as review past trips. Built using Amazon Web services and Google Maps API." />
    <meta name="author" content="Donnie Wombough" />

    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Ubuntu:wght@300&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Raleway:wght@200&display=swap" rel="stylesheet">
    <%= javascript_include_tag "https://maps.googleapis.com/maps/api/js?key=#{Rails.application.credentials.google[:api_key]}&libraries=places" %>
    <script type="text/javascript">
      window.logo= "<%= image_url('last-logo.png'); %>"
    </script>
   <script src="https://code.iconify.design/2/2.0.3/iconify.min.js"></script>
    <%= favicon_link_tag 'favicon.jpeg' %>

  </head>

  <body>
    <%= yield %>
  </body>
</html>
